body {
  display: flex;
  flex-direction: column;
}
#top-footer {
  margin-top: auto;
}

.activity-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.activity-wrapper a {
  margin-top: 0 !important;
  /*     display: block; */
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 30px;
}
.contentwithoutlink  {
  padding-right: 100px !important;
}
#page-course-view-topics .course-content .topics .section .activity.label,
#page-course-view-topics .course-content .topics .section .activity.scorm {
  margin-bottom: 40px;
}
.progress-label {
  position: absolute;
  right: 0;
}
#section-1 li,
.course-content .topics .section#section-1 .activity.label {
  margin-bottom: 25px;
}
.footerlogo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.footerlogo img {
  max-width: 100%;
}
.footerlogo > div:nth-child(1) {
  flex-basis: 60%;
}
.footerlogo > div:nth-child(2) {
  flex-basis: 30%;
}

