@font-face {
    font-family: omnes;
    src: URL('Omnes.ttf') format('truetype');
}
@font-face {
    font-family: omnes-semibold;
    src: URL('Omnes-Semibold.otf') format('opentype');
}
body{
    min-width: 380px !important;
}
.jumbotron{
    background-color: unset !important;
}
h1{
    font-family: Roboto, sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: 35px !important;
    letter-spacing: 0.01em !important;
    color: #636363 !important;
    margin-top: 72px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.complete{
    font-family: Roboto, sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 22px !important;
    line-height: 160% !important;
    text-align: center !important;
    letter-spacing: 0.01em !important;
    color: #00A3A2 !important;
    margin-top: 40px !important;
    padding-left: 20px;
    padding-right: 20px;
}
.below{
    font-family: Roboto, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 190% !important;
    text-align: center;
    letter-spacing: 0.01em !important;
    color: #6A7571 !important;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}
#below2{
    display: none;
}
.container{
    padding-top: unset !important;
    text-align: center !important;
}
.jumbotron{
    padding: unset !important;
    padding-top: 16px !important;
}
.step{
    width: 5.14%;
    background-color: #E3EFF7;
    height: 8px;
    float: left;
    margin: 0 1%;
}
.side{
    width:50%;
    float:left;
}
.side-left{
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 28px !important;
    line-height: 33px !important;
    letter-spacing: 0.01em !important;
    color: #49ACDB !important;
    padding-top: 120px;
}
.side-right{
    margin-top: 50px;
    padding-left: 50px;
}
.five{
    width: 70px;
    margin-left: 20px;
    float:left;
    cursor: pointer;
}
.f-top{
    color: #7CCBF0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    height: 54px;
}
.five:hover .f-top{
    color: #5FB6DF;
}
.five:hover .f-bottom{
    background-color: #5FB6DF;
}
.five:active .f-top{
    color: #419FCC;
}
.five:active .f-bottom{
    background-color: #419FCC;
}
.five.active .f-top{
    color: #B2D235;
}
.five.active .f-bottom{
    background-color: #B2D235;
}
.five.active:hover .f-top{
    color: #A3C423;
}
.five.active:hover .f-bottom{
    background-color: #A3C423;
}
.f-bottom{
    background-color: #7CCBF0;
    border-radius: 3.57142px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    height: 72px;
    text-align: center;
    padding-top: 13px;
}
.but{
    margin-bottom: 50px;
    width: 102px;
    height: 54px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 48px;
    pointer-events: none;
}
.log-btn{
    margin-bottom: 50px;
    width: 102px;
    height: 54px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 48px;
    border: 0 !important;
    padding: unset !important;
}
.log-btn.active, .log-btn:active, .log-btn:hover{
    border: 0 !important;
}
#but-back{
    color: #BCBCBC;
    border: 2px solid #BCBCBC;
    float: left;
    padding-top: 12px;
}
#but-next{
    color: white;
    background-color: #BCBCBC;
    float: right;
    padding-top: 14px;
}
#but-close{
    margin: 50px auto;
    color: white;
    background-color: #BCBCBC;
    padding-top: 14px;
}
#but-back.active{
    color: #00B0AF;
    border: 2px solid #00B0AF;
    cursor: pointer;
    pointer-events: unset;
}
#but-next.active{
    background-color: #00B0AF;
    cursor: pointer;
    pointer-events: unset;
}
#but-close.active{
    background-color: #00B0AF;
    cursor: pointer;
    pointer-events: unset;
}
.steps{
    margin-top: 80px;
    max-width: 830px;
}
.step.active{
    background-color: #B2D235;
}
.points{
    width: 140px;
    float:left;
    text-align: left;
    margin-right: 40px;
    margin-top: 36px;
}
.point-sq{
    background-color: #00B0AF;
    color: white;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-top: 7px;
    text-align: center;
    float: left;
    margin-right: 16px;
    margin-top: 4px;
}
.point{
    height:60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #00B0AF;
}
.graphic{
    float:left;
    text-align: left;
}
.numbers{
    margin-left: 30px;
}
#results{
    display: none;
}
.number{
    width: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #00B0AF;
    float: left;
    padding-top: 10px;
    text-align: center;
    cursor: default;
}
.res-sq{
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 10px;
}
.res{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #4F4F4F;
    float: left;
}
#first .res-sq{
    background-color: #00B0AF;
}
#first{
    margin-right: 40px;
}
#second .res-sq{
    background-color: #B2D235;
}
.results{
    text-align: left;
    margin-top: 100px;
}
.low{
    padding-top: 11px;
    display: inline-block;
}
#second{
    display: none;
}
#close{
    display: none;
}
#first-score{
    font-weight: 500;
}
#second-score{
    font-weight: 500;
}
.foo{
    background-color: #4f4f4f;
    padding-top: 72px;
    padding-bottom: 72px;
}
.col1{
    float: left;
    width: 31%;
}
.col2{
    float: left;
    width: 31%;
}
.col3{
    float: right;
    width: 38%;
    text-align: right;
    padding-top: 20px;
}
.foo li{
    display: inline;
    padding: 20px;
}
.foo ul{
    padding: unset;
}
.foo a{
    font-size: 16px;
    color: #dddddd;
    font-weight: 400;
    font-family: omnes;
}
.foo a:visited{
    text-decoration: none !important;
    color: #dddddd;
}
.foo a:hover{
    text-decoration: none;
    color: #00b0af;
}
.cont1200{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.col3b{
    margin: 30px 20px 0 0;
}
.wc-popup{
    position: fixed;
    background-color: white;
    z-index: 99999;
    top: 50vh;
    transform: translateY(-50%);
    max-width: 640px;
}
.wc-popup h1{
    font-size: 48px !important;
    color: #333333 !important;
    font-family: omnes-semibold !important;
    padding: unset !important;
    margin: 40px 22px !important;
}
.wc-popup p{
    font-family: omnes !important;
    font-size: 18px !important;
    margin: 22px !important;
}
#wc-close-popup{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 32px;
    transform: rotate(45deg);
    cursor: pointer;
}
#black-cover{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    justify-content: center;
    display: none;
}
.number:hover::after {
    content: attr(data-title);
    display: block;
    position: absolute;
    margin-top: 8px;
}
.q-list{
    clear: both;
    color: #00b0af;
    font-size: 18px;
    display: none;
}
.please{
    font-size: 16px;
    color: #00B0AF;
    margin-top: 80px;
    margin-bottom: -50px;
}
.beleft{
    padding-left: 200px;
    float: left;
    text-align: left;
}
#checkbox-res{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 6px;
}
@media only screen and (max-width: 1200px) {
    .beleft{
        padding-left: 164px;
    }
    .please{
        display: none;
    }
    .number:hover::after {
        display: none;
    }
    .q-list{
        display: block;
    }
    .side-left{
        font-size: 22px !important;
    }
    .side-right{
        padding-left: 30px;
    }
    .five{
        width: 60px;
        margin-left: unset;
        padding: 0 6px;
    }
    .f-top{
        font-size: 12px;
        height: 38px;
        margin-top: 20px;
    }
    .f-bottom{
        font-size: 24px;
        height: 50px;
        text-align: center;
        padding-top: 8px;
    }
    #canvas{
        width: 756px;
        height: 360px;
    }
    .number{
        width: 54px;
    }
    .points{
        margin-right: 10px;
    }
    .numbers{
        margin-left: 27px;
    }
    .col1{
        width: 100%;
        text-align: center;
    }
    .col2{
        width: 100%;
        text-align: center;
    }
    .col3{
        width: 100%;
        float: unset;
        text-align: center;
    }
    .cont1200{
        text-align: center;
    }
    .foo{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .col3b{
        margin: 30px 0 0 0;
    }
    .col2{
        margin: 24px 0;
    }
    .foo li a{
        font-size: 14px;
    }
    .foo li{
        padding: 12px;
    }
    .foo .col3b a{
        font-size: 14px;
    }
}
@media only screen and (max-width: 990px) {
    #canvas{
        width: 504px;
        height: 360px;
    }
    .number{
        width: 36px;
        font-size: 18px;
        letter-spacing: -2px;
    }
    .points{
        margin-right: 30px;
    }
    .numbers{
        margin-left: 18px;
    }
    .beleft{
        padding-left: 120px;
    }
}
@media only screen and (max-width: 722px) {
    .point-sq{
        width: 18px;
        height: 18px;
        font-size: 16px;
        padding-top: 2px;
    }
    .point{
        font-size: 14px;
    }
    .points{
        margin-right: 4px;
        margin-top: 48px;
        width: 80px;
    }
    .point-sq{
        margin-right: 6px;
    }
    .low{
        padding-top: 4px;
    }
    .beleft{
        padding-left: 98px;
    }
}
@media only screen and (max-width: 690px) {
    .side-left{
        width: 100%;
        text-align: center;
        padding-top: 24px;
        height: 120px;
    }
    .side-right{
        width: unset;
        text-align: center;
        margin-top: unset;
        padding-left: unset;
        margin: 0 auto;
        width: 100%;
    }
    .five{
        width: 60px;
        margin-left: unset;
        padding: 0 6px;
    }
    .f-bottom{
        font-size: 24px;
        height: 50px;
        text-align: center;
        padding-top: 8px;
    }
    .sr{
        width: 300px;
        margin: 0 auto;
    }
    .steps{
        margin-top: 40px;
    }
}
@media only screen and (max-width: 636px) {
    #canvas{
        width: 420px;
        height: 360px;
    }
    .number{
        width: 30px;
        font-size: 18px;
    }
    .numbers{
        margin-left: 15px;
    }
    .q-list{
        font-size: 16px;
    }
    #second{
        clear: both;
    }
    .beleft{
        padding-left: 60px;
    }
}
@media only screen and (max-width: 550px) {
    #canvas{
        width: 336px;
        height: 360px;
    }
    .number{
        width: 24px;
        font-size: 14px;
    }
    .numbers{
        margin-left: 12px;
    }
    .q-list{
        font-size: 14px;
        max-width: 360px;
    }
    .beleft{
        padding-left: 30px;
    }

}
@media only screen and (max-width: 462px) {
    #canvas{
        width: 252px;
        height: 360px;
    }
    .number{
        width: 18px;
        font-size: 12px;
    }
    .numbers{
        margin-left: 9px;
    }
    .points{
        margin-right: 30px;
    }
    .q-list{
        font-size: 14px;
        max-width: 260px;
    }
}
@media only screen and (max-width: 400px) {
    .points{
        margin-right: 4px;
    }
}
#but-close.btn {
    background-color: #00B0AF;
    border: none;
    border-radius: 0;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}